.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  padding: 20px;
  border: 1px solid var(--deep-blue);
  background: #FFFFFF;
}

.RegisterForm h1 {
  line-height: 1rem;
  padding-bottom: 20px;
}

.RegisterForm button {
  margin-top: 40px;
}

.RegisterForm p {
  width: max-content;
  margin: 0;
}
